name: Build with MSBuild

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Build with MSBuild
      run: msbuild DoubleFineTool.sln /p:Configuration=Release

    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: doublefinetool-exe
        path: lib\bin\Release\DoubleFineTool.exe
